<!-- Container for Header of the home Page  -->
<div class="inner-container md-whiteframe-4dp text-page">

	<!-- home page title -->
	<!-- <h2 class="md-display-2">Luzes IHM</h2> -->

	<!-- home page message -->
	<h3 class="md-subhead">Liga e desliga as luzes através de comando de voz. Pressione o botão para falar e pressione novamente para parar.</h3>

	<!-- Button to navigate to the Start of the Survey -->
	<md-button 
		class="md-raised md-primary"
		ng-click="home.speak()">

		Falar

	</md-button>



</div>